<div class="row">
    <div class="col-md-10">
        <img src="/assets/imagens/logo.png" class="logo">
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12 titulo-resultado">
        RECOMENDAÇÕES COM BASE NAS PREFERÊNCIAS DO USUÁRIO
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="titulo text-center">nome do lugar </div>
        <p>DESCRIÇÃO DO LUGAR Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="question">
                Tipo de hospedagem
            </div>
            <hr>
            <div class="option">
                tipo de hospedagem
            </div>
        </div>

        <div class="card">
            <div class="question">
                Locais para comprar passagens
            </div>
            <hr>
            <div class="option">
                passagens
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center text-center mt-4">
    <div class="col-md-4">
        <button class="bttn btnClear" id="limpar" (click)="limparPreferencias()">Limpar
            preferências
        </button>
    </div>
    <div class="col-md-4">
        <button class="bttn btnAdd" id="adicionarPreferencias" (click)="adicionarPreferencias()">
            Adicionar preferências
        </button>
    </div>
</div>