.card {
    z-index: 999;
    width: 500px;
    height: 400px; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: flex;
}

.fundo-opaco {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.bttn{
    width: 200px;
    height: 50px;
    padding: 10px;
}